<head>
  <title>Whisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <nav class="nav">
    <a href="/" class="logo-link">ITIRAF APP</a>
    <button onclick="location.href='http://localhost:3000/post'" class="nav-button">Yeni itiraf</button>
  </nav>
</head>